Data extracted from the Harvard Business School article 'HR Analytics at ScaleneWorks: Behavioral Modelling to Predict Renege'.
The goal of this project is to build a model to predict if the candidate will join the company after a job offer.

In [21]:
import numpy as np
import pandas as pd

data = pd.read_excel('../Scalene_Works.xlsx', sheet_name=1)

C:\Users\Guilh\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [18]:
data.head()

,Candidate Ref,DOJ Extended,Duration to accept offer,Notice period,Offered band,Pecent hike expected in CTC,Percent hike offered in CTC,Percent difference CTC,Joining Bonus,Candidate relocate actual,Gender,Candidate Source,Rex in Yrs,LOB,Location,Age,Status
0,2110407,Yes,14.0,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,ERS,Noida,34,Joined
1,2112635,No,18.0,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,INFRA,Chennai,34,Joined
2,2112838,No,3.0,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,INFRA,Noida,27,Joined
3,2115021,No,26.0,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,INFRA,Noida,34,Joined
4,2115125,Yes,1.0,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,INFRA,Noida,34,Joined

In [6]:
data.columns

Index(['Candidate Ref', 'DOJ Extended', 'Duration to accept offer',
       'Notice period', 'Offered band', 'Pecent hike expected in CTC',
       'Percent hike offered in CTC', 'Percent difference CTC',
       'Joining Bonus', 'Candidate relocate actual', 'Gender',
       'Candidate Source', 'Rex in Yrs', 'LOB', 'Location', 'Age', 'Status'],
      dtype='object')

In [22]:
# Transform 'DOJ Extended' into dummy
def YesNo_todummy(row):
    if row == 'Yes':
        return 1
    else:
        return 0
data['DOJ Extended'] = data['DOJ Extended'].apply(lambda row: YesNo_todummy(row))
# Transform 'Joining Bonus' into dummy
data['Joining Bonus'] = data['Joining Bonus'].apply(lambda row: YesNo_todummy(row))
# Transform 'Candidate relocate actual' into dummy
data['Candidate relocate actual'] = data['Candidate relocate actual'].apply(lambda row: YesNo_todummy(row))
# Transform 'Gender' into dummy 'Gender_Male' and drop original
def is_male(row):
    if row == 'Male':
        return 1
    else:
        return 0
data['Gender_Male'] = data['Gender'].apply(lambda row: is_male(row))
# Exclude original columns 'Candidate Ref', Gender', 'LOB', and 'Location'
data = data.drop(columns=['Candidate Ref', 'Gender', 'LOB', 'Location'])
# Rename 'Pecent hike expected in CTC' column
data.rename(columns={"Pecent hike expected in CTC": "Percent hike expected in CTC"})
# Transform 'Offered band' into dummies (2 dummies)
# Transform 'Offered band' into dummies (6 dummies)

,DOJ Extended,Duration to accept offer,Notice period,Offered band,Pecent hike expected in CTC,Percent hike offered in CTC,Percent difference CTC,Joining Bonus,Candidate relocate actual,Candidate Source,Rex in Yrs,Age,Status,Gender_Male
0,1,14.0,30,E2,-20.79,13.16,42.86,0,0,Agency,7,34,Joined,0
1,0,18.0,30,E2,50.00,320.00,180.00,0,0,Employee Referral,8,34,Joined,1
2,0,3.0,45,E2,42.84,42.84,0.00,0,0,Agency,4,27,Joined,1
3,0,26.0,30,E2,42.84,42.84,0.00,0,0,Employee Referral,4,34,Joined,1
4,1,1.0,120,E2,42.59,42.59,0.00,0,1,Employee Referral,6,34,Joined,1

In [23]:
data['Candidate Source'].value_counts()

Direct               7075
Agency               3170
Employee Referral    2088
Name: Candidate Source, dtype: int64

In [24]:
data['Offered band'].value_counts()

E1    6996
E2    3458
E0    1058
E3     690
E4     106
E5      23
E6       2
Name: Offered band, dtype: int64